<!DOCTYPE html>
<!--[if lt IE 10]> <html  lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="ru">
<!--<![endif]-->
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Бахчай - Важное и отзывы</title>
    <meta name="description" content="О компании">
    <script src="{% static 'scripts/jquery.min.js'%}"></script>
    <link rel="stylesheet" href="{% static 'scripts/bootstrap/css/bootstrap.css'%}">
    <script src="{% static 'scripts/script.js'%}"></script>
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="stylesheet" href="{% static 'css/content-box.css'%}">
    <link rel="stylesheet" href="{% static 'css/components.css'%}">
    <link rel="stylesheet" href="{% static 'css/image-box.css'%}">
    <link rel="stylesheet" href="{% static 'scripts/php/contact-form.css'%}">
    <link rel="stylesheet" href="{% static 'scripts/magnific-popup.css'%}">
    <link rel="stylesheet" href="{% static 'css/animations.css'%}">
    <link rel="stylesheet" href="{% static 'scripts/social.stream.css'%}">
    <link rel="stylesheet" href='{% static "scripts/flexslider/flexslider.css"%}'>
    <link rel="icon" href="{% static 'images/favicon.png'%}">
    <link rel="stylesheet" href="{% static 'skin.css'%}">



</head>


{% block content %}



{% endblock %}

<i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>
    <footer class="footer-base footer-parallax dark-design white">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 footer-center">
                        <hr class="space s" />
                        <img width="180" src="{% static 'images/logo.png'%}" alt="" />
                        <hr class="space m" />
                        <p>
                            Мы не беспокоимся за качество, потому-что готовит Гордон Рамзи.<br />Клиенты всегда правы.
                        </p>
                        <hr class="space s" />
                        <div class="btn-group social-group btn-group-icons">
                            <a target="_blank" href="#" data-social="share-facebook"><i class="fa fa-facebook"></i></a>
                            <a target="_blank" href="#" data-social="share-twitter"><i class="fa fa-twitter"></i></a>
                            <a target="_blank" href="#" data-social="share-google"><i class="fa fa-instagram"></i></a>
                            <a target="_blank" href="#" data-social="share-linkedin"><i class="fa fa-youtube"></i></a>
                        </div>
                        <div class="col-md-12 copy-text">
                            © 2022 Бахчай - info@бахчай.com - +996 123458992 - Бишкекский квартал, New York - <a href="https://youtu.be/-wN36SC_lBY">bahchai.kg</a>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
        <link rel="stylesheet" href="{% static 'scripts/iconsmind/line-icons.min.css'%}">
        <script async src="{% static 'scripts/bootstrap/js/bootstrap.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'scripts/imagesloaded.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'scripts/parallax.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'scripts/flexslider/jquery.flexslider-min.js'%}"></script>
        <script type="text/javascript" async src="{% static 'scripts/isotope.min.js'%}"></script>
        <script type="text/javascript" async src="{% static 'scripts/php/contact-form.js'%}"></script>
        <script type="text/javascript" async src="{% static 'scripts/jquery.progress-counter.js'%}"></script>
        <script type="text/javascript" async src="{% static 'scripts/jquery.tab-accordion.js'%}"></script>
        <script type="text/javascript" async src="{% static 'scripts/bootstrap/js/bootstrap.popover.min.js'%}"></script>
        <script type="text/javascript" async src="{% static 'scripts/jquery.magnific-popup.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'scripts/google.maps.min.js'%}"></script>
        <script type="text/javascript" src='https://maps.googleapis.com/maps/api/js?sensor=false'></script>
        <script type="text/javascript" src="{% static 'scripts/social.stream.min.js'%}"></script>
        <script src="{% static 'scripts/php/datepicker.min.js'%}"></script>
        <script src="{% static 'scripts/smooth.scroll.min.js'%}"></script>
    </footer>