{% extends  'base.html'%}
{% load static %}

{% block content %}
<body>
    <div id="preloader"></div>
    <div class="footer-parallax-container">
        <header class="fixed-top bg-transparent menu-transparent scroll-change wide-area dark-design" data-menu-anima="fade-in">
            <div class="navbar navbar-default mega-menu-fullwidth navbar-fixed-top" role="navigation">
                <div class="navbar navbar-main">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle">
                                <i class="fa fa-bars"></i>
                            </button>
                           <a class="navbar-brand" href="{% url 'index_list' %}">
                                <img class="logo-default scroll-hide" src="{% static 'images/logo.png'%}" alt="logo" />
                                <img class="logo-default scroll-show" src="{% static 'images/logo.png'%}" alt="logo" />
                                <img class="logo-retina" src="{% static 'images/logo-retina.png'%}" alt="logo" />
                            </a>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li class="dropdown active">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'index_list' %}">Главная <span class="caret"></span></a>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'products' %}">Наше меню <span class="caret"></span></a>
                                    <div class="mega-menu dropdown-menu multi-level row bg-menu">
                                        <div class="col">
                                            <ul class="fa-ul no-icons text-s">
                                                <li><a href="{% url 'products' %}#Завтраки">Завтраки</a></li>
                                                <li><a href="{% url 'products' %}#Закуски">Закуски</a></li>
                                                <li><a href="{% url 'products' %}#Салаты">Салаты</a></li>
                                                <li><a href="{% url 'products' %}#Первое-блюдо">Первое блюдо</a></li>
                                                <li><a href="{% url 'products' %}#Второе-блюдо">Второе блюдо</a></li>
                                            </ul>
                                        </div>
                                        <div class="col">
                                            <ul class="fa-ul no-icons text-s">
                                                <li><a href="{% url 'products' %}#Шашлыки">Шашлыки</a></li>
                                                <li><a href="{% url 'products' %}#Стейки">Стейки</a></li>
                                                <li><a href="{% url 'products' %}#Пицца">Пицца</a></li>
                                                <li><a href="{% url 'products' %}#Блюда-на-заказ">Блюда на заказ</a></li>
                                                <li><a href="{% url 'products' %}#Гарниры">Гарниры</a></li>
                                            </ul>
                                        </div>
                                        <div class="col">
                                            <ul class="fa-ul no-icons text-s">
                                                <li><a href="{% url 'products' %}#Соусы">Соусы</a></li>
                                                <li><a href="{% url 'products' %}#Пиво-на-разлив">Пиво на разлив</a></li>
                                                <li><a href="{% url 'products' %}#Прохладные-напитки">Прохладные напитки</a></li>
                                                <li><a href="{% url 'products' %}#Алкогольные-напитки">Алкогольные напитки</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="{% url 'careers'%}" class="dropdown-toggle" data-toggle="dropdown" role="button">Контакты <span class="caret"></span></a>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">О нас <span class="caret"></span></a>
                                    <ul class="dropdown-menu multi-level">
                                                <li><a href="{% url 'list' %}">Доставка</a></li>
                                                <li><a href="reservation-2.html">Бронь и время работы</a></li>
                                                <li><a href="{% url 'about' %}">Важное и отзывы</a></li>
                                                <li><a href="{% url 'map' %}">Как нас найти?</a></li>
                                                <li><a href="faq.html">Вопросы и ответы</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="nav navbar-nav navbar-right">
                                <div class="shop-menu-cnt">
                                    <i class="fa fa-shopping-cart"><span class="cart-count">1</span></i>
                                    <div class="shop-menu">
                                        <ul class="shop-cart">
                                            <li class="cart-item">
                                                <img src="{% static 'images/gallery/pizza-1.jpg'%}" alt="">
                                                <div class="cart-content">
                                                    <h5>Вкусный хавчик</h5>
                                                    <span class="cart-quantity">
                                                        1 x 299.00 Сом
                                                    </span>
                                                </div>
                                            </li>
                                        </ul>
                                        <p class="cart-total">
                                            Итого: <span>299.00 Сом</span>
                                        </p>
                                        <p class="cart-buttons">
                                            <a href="cart.html" class="btn btn-xs cart-view">Просмотреть корзину</a>
                                            <a href="#" class="btn btn-xs cart-checkout">Позвонить</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="search-box-menu">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="header-title ken-burn-center white" data-parallax="scroll" data-position="top" data-natural-height="850" data-natural-width="1920" data-image-src="{% static 'images/bg-7.jpg'%}">
            <div class="container">
                <div class="title-base">
                    <hr class="anima" />
                    <h1>Контакты</h1>
                    <p>Тут указаны наши контакты и доп. информация о нас</p>
                </div>
            </div>
        </div>
        <div class="section-empty">
            <div class="container content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="icon-box">
                            <div class="icon-box-cell">
                                <i class="im-phone text-xl"></i>
                            </div>
                            <div class="icon-box-cell">
                                <label class="text-m">Позвоните нам сейчас</label>
                                <p class="text-s">+777 777 777 </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="icon-box">
                            <div class="icon-box-cell">
                                <i class="im-envelope text-xl"></i>
                            </div>
                            <div class="icon-box-cell">
                                <label class="text-m">Напишите нам на почту</label>
                                <p class="text-s">info@bahchai.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="icon-box">
                            <div class="icon-box-cell">
                                <i class="im-map2 text-xl"></i>
                            </div>
                            <div class="icon-box-cell">
                                <label class="text-m">Где мы?</label>
                                <p class="text-s">Бишкекский, Бишкек</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="icon-box">
                            <div class="icon-box-cell">
                                <i class="im-clock text-xl"></i>
                            </div>
                            <div class="icon-box-cell">
                                <label class="text-m">Время работы</label>
                                <p class="text-s">Пон-Вс 07-23</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-bg-color section-item">
            <div class="container content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="title-base text-left">
                            <hr />
                            <h2>У вас есть какие-либо вопросы?</h2>
                            <p>Просим вас ознакомиться с ответами справа</p>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim adlabore et dolore magnam minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                            eu fugiat nulla paro.
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="list-group accordion-list" data-time="1000" data-type='accordion'>
                            <div class="list-group-item">
                                <a>Предоставляете ли вы поддержку новым сотрудникам?</a>
                                <div class="panel">
                                    <div class="inner">
                                        L'orem ipsum dolor, consectetur adipisicing elit, sed
                                        do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                        nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                        sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                        quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                        <hr class="space s" />
                                        L'orem ipsum dolor, consectetur adipisicing elit, sed
                                        do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                        nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                        sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                        quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <a>Предоставляете ли вы пробу своего нового продукта?</a>
                                <div class="panel">
                                    <div class="inner">
                                        L'orem ipsum dolor, consectetur adipisicing elit, sed
                                        do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                        nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                        sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                        quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <a>Совместим ли ваш продукт с фитнес рационом?</a>
                                <div class="panel">
                                    <div class="inner">
                                        L'orem ipsum dolor, consectetur adipisicing elit, sed
                                        do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                        nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                        sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                        quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                        L'orem ipsum dolor, consectetur adipisicing elit, sed
                                        do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                        nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                        sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                        quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <a>Какие валюты вы принимаете?</a>
                                <div class="panel">
                                    <div class="inner">
                                        L'orem ipsum dolor, consectetur adipisicing elit, sed
                                        do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                        nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus.
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <a>Сколько лет опыта требуется?</a>
                                <div class="panel">
                                    <div class="inner">
                                        L'orem ipsum dolor, consectetur adipisicing elit, sed
                                        do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                        nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                        sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                        quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>
{% endblock %}